body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}

.clearfix::after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div{box-sizing: border-box;}

header{
    background: url(../img/head.png) no-repeat center top /cover;
    padding-bottom: 0px;
}

.container{
    width: 930px;
    margin: 0 auto;
}

.logo{
     margin-top: 41px;
    float: left;
    color: gray;
    font-size: 18px;
    font-weight: bold;
}


.copyright{
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
    color: gray;
    font-size: 10px;
    font-weight: bold;
}

nav{
    /* float: right;  */
   margin 50px 20px 10px 10px;
   
}

.menu{
   margin: 0;
   padding-left: 0;
   padding-top: 14px;
   padding-bottom: 32px;
   /* display: block; */
}

.menu li{
   float: left;
   display: block;
   margin-right: 50px;
}

.menu li a{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14;
}

.title_first{
   font-size: 40px;
   color: white;
   text-transform: uppercase;
   text-align: left;
   margin-top: 50px;
}

.title_second{
   margin-top: 10px;
   padding-bottom: 60px;
   font-size: 55px;
   color: white;
   text-transform: uppercase;
   text-align: left;
}

#main_menu{
   padding: 0;
   margin:0; 
   background: grey;
}